
@model IEnumerable<ASMC5.Models.CartDetail>

@{
    decimal sumMoney = 0;
}

<h2>GIỎ HÀNG</h2>
<a type="submit" asp-controller="Cart" asp-action="searchCartByStatus1" class="btn btn-primary">Da Mua</a>
<a type="submit" asp-controller="Cart" asp-action="searchCartByStatus0" class="btn btn-primary">Chua Mua</a>
<a type="submit" asp-controller="Cart" asp-action="searchCartByStatus2" class="btn btn-primary">Dang Cho Xac Nhan</a>

@if (Model != null && Model.Count() > 0)
{
    int stt = 1;

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Ten San Pham</th>
            <th>Gia</th>
            <th>Nhap So Luong </th>
            <th>Thành Tiền</th>
            <th>Trang Thai</th>

        </tr>
        @foreach (var cartitem in Model)
        {
            <tr>
                <td>@(stt++)</td>
                @if (cartitem.Product != null)
                {
                    <td>@cartitem.Product.Name</td>
                    <td>@cartitem.Product.Price</td>

                    @if (cartitem.Status == 0)
                    {
                        @using (Html.BeginForm("Update", "Cart", new { cartitem.ID, cartitem.Quantity, cartitem.Status, cartitem.ProductID, cartitem.UserID }))
                        {
                            <input type="hidden" value="@cartitem.ProductID" name="IdProduct" />
                            <input type="hidden" value="@cartitem.UserID" name="IdUser" />
                            <td><input asp-for="@cartitem.Quantity" name="Quantilty" /></td>
                            <td>@(cartitem.Quantity * cartitem.Product.Price)</td>
                            <td>
   
                                    <p>Chua Mua</p>
                              </td>

                            <td>
                                <input type="submit" value="Cập Nhật" class="btn btn-success" />
                            </td>
                           
                        }
                        @using (Html.BeginForm("DeleteConfirmed", "Cart", new { cartitem.ID }))
                        {


                                                                                        <td>
                                                                                            <input type="submit" value="Xoa" class="btn btn-danger" />
                                                                                        </td>

                        }
                    }

                   else if(cartitem.Status ==1)
                    {
                        @using (Html.BeginForm("Update", "Cart", new { cartitem.ID, cartitem.Quantity, cartitem.Status, cartitem.ProductID, cartitem.UserID  }))
                        {
                            <input type="hidden" value="@cartitem.ProductID" name="IdProduct" />
                            <input type="hidden" value="@cartitem.UserID" name="IdUser" />
                            <td><input asp-for="@cartitem.Quantity" name="Quantilty" /></td>
                            <td>@(cartitem.Quantity * cartitem.Product.Price)</td>
                            <td>
                                    <p>Da Mua</p>
                            
                            </td>
                            <td>
                                <input type="submit" value="Mua Lại" class="btn btn-secondary" />
                            </td>

                        }
                        @using (Html.BeginForm("DeleteConfirmed", "Cart", new { cartitem.ID }))
                        {


                                            <td>
                                                <input type="submit" value="Xoa" class="btn btn-danger" />
                                            </td>

                        }
                    }
                    else 
                    {
                                                <input type="hidden" value="@cartitem.ProductID" name="IdProduct" />
                                                <input type="hidden" value="@cartitem.UserID" name="IdUser" />
                                                <td>@cartitem.Quantity</td>
                                                <td>@(cartitem.Quantity * cartitem.Product.Price)</td>
                                                <td>                              
                                                            <p>Cho Xac Nhan Mua</p>
                                                </td>
        
                    }
                    

                }

            </tr>
        }
    </table>

    @foreach (var item in Model)
    {

        if (item.Product != null)
        {
            sumMoney = sumMoney + (item.Quantity * item.Product.Price);
        }
    }
    <p>Tong Tien: @sumMoney</p>

    @using (Html.BeginForm("ThanhToan", "Cart", FormMethod.Post))
    {
        foreach (var cartitem in Model)
        {
                    <input type="hidden" name="cartDetail.Id" value="@cartitem.ID" />
                    <input type="hidden" name="cartDetail.Quantilty" value="@cartitem.Quantity" />
                    <input type="hidden" name="cartDetail.IdUser" value="@cartitem.UserID" />
                    <input type="hidden" name="cartDetail.IdProduct" value="@cartitem.ProductID" />
        }
        <button type="submit" class="btn btn-warning">Thanh toán</button>
    }

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}