@model IEnumerable<ViewModel.ViewModel.Product.ProductView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>

                    @if (item.Status == 0)
                    {
                        <p>Dang Hoat Dong</p>
                    }
                    else
                    {
                        <p>Khong Hoat Dong</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a><span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @using (Html.BeginForm("Delete", "Product", new { item.Id }))
                        {
                            <input type="hidden" value="@item.Id" name="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                         
                        }
                        <form asp-controller="Cart" asp-action="addToCart" asp-route-id="@item?.Id" method="post">
                            <input type="submit" value="AddToCart" class="btn btn-primary" />
                        </form>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a >
                        <form asp-controller="Cart" asp-action="addToCart" asp-route-id="@item?.Id" method="post">
                            <input type="submit" value="AddToCart" class="btn btn-primary" />
                        </form>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
