@model IEnumerable<ViewModel.ViewModel.Bill.BillView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                Mã hoá đơn
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreatBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatBill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPayment)
            </td>
            <td>
                    @if (item.Status == 0)
                    {
                        <p> đã xác nhận</p>
                    }
                    @if(item.Status ==1)
                    {
                        <p>chưa xác nhận</p>
                    }
            </td>
           
            <td>
                    <p>
                        <a asp-action="ListBillDetail">Detail</a>
                    </p>
                @using (Html.BeginForm("DeleteBill", "Bill", new { item.BillID }))
                    {
                        <input type="hidden" value="@item.BillID" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    } 
            </td>
        </tr>
}
    </tbody>
</table>
