@model IEnumerable<ASMC5.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <b> User</b>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreatBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.FirstOrDefault(p=>p.UserID == item.UserID).User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreatBill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Detais", "Details", new { id=item.ID  }) |
                </td>
            </tr>
        }
    </tbody>
</table>
