@model IEnumerable<ASMC5.ViewModel.UserVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
          
                <td>
                    @Html.DisplayFor(modelItem => item.Dateofbirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlImage)
                </td>
                <td>

                    @if (item.Status == 0)
                    {
                        <p>Dang Hoat Dong</p>
                    }
                    else
                    {
                        <p>Khong Hoat Dong</p>
                    }

                </td>
                <td>@item.roleNames</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @using(Html.BeginForm("Delete","User",new {item.Id})){
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
